.login-wrap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(31, 33, 40, 1);

	.login-box {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		width: 100%;
		padding: 0 8px;
		text-align: center;
		transform: translateY(-50%);
		box-sizing: border-box;

		.login-section {
			position: relative;
			display: block;
			max-width: 360px;
			margin: 0 auto;

			.login {
				position: relative;
				display: flex;
				flex-flow: column wrap;
				padding: 16px;
				gap: 16px;
				border-radius: 24px;
				background-color: #ffffff;
				box-sizing: border-box;

				.login-input {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 2px;
					box-sizing: border-box;
					border: 1px solid #ffffff;
					border-bottom: 1px solid #dddddd;
					transition: .25s ease;

					span {
						display: flex;
						width: 38px;
						height: 38px;
						color: #999999;
						align-items: center;
						justify-content: center;
						transition: .25s ease;
					}
					&:hover, &.on { border: 1px solid #2189ff; span { color: #2189ff; } }
				}
				.remember {
					position: relative;
					display: flex;
					align-items: center;
					gap: 4px;
					justify-content: flex-start;

					> * { font-size: 14px; cursor: pointer }
					label { color: #777777; font-weight: normal; transition: .25s ease; }
					#remember {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						width: 20px;
						height: 20px;
						color: #999999;
						font-size: 12px;
						background-color: #ffffff;
						border: 1px solid #dddddd;
						box-sizing: border-box;
						transition: .25s ease;
					}
					&.on {
						label { color: #2189ff; }
						#remember {
							color: #ffffff;
							background-color: #2189ff;
							border: #2189ff;
						}
					}
				}

				&::before {
					background: #ced4da;
					filter: opacity(.7) brightness(1) contrast(1.1);
					backdrop-filter: blur(.5rem);
					left: 1rem;
					right: 1rem;
					top: 1rem;
					will-change: backdrop-filter;
					z-index: -1;
					border-radius: inherit;
					box-shadow: none;
					content: "";
					height: 100%;
					position: absolute;
					transition: all .2s ease-in-out;
				}
				&::after {
					background: #ced4da;
					filter: opacity(.7) brightness(1) contrast(1.2);
					border-radius: inherit;
					box-shadow: none;
					content: "";
					height: 100%;
					position: absolute;
					transition: all .2s ease-in-out;
					left: 2rem;
					right: 2rem;
					top: 1.75rem;
					z-index: -2;
				}
			}
			.login-logo {
				/* display: flex;
				justify-content: center; */

				/* span {
					position: absolute;
					display: flex;
					top: -48px;
					width: 92px;
					height: 92px;
					align-items: center;
					justify-content: center;
					color: #ffffff;
					font-size: 48px;
					border-radius: 50%;
					background-color: rgba(33, 137, 255, 0.5);
				} */
				p {
					font-size: calc(1.375rem + 1.5vw);
					margin-top: 3rem;
					line-height: 1.2;
					margin-bottom: .5rem;
				}

				span {
					font-size: calc(1.275rem + .3vw);
					margin-bottom: 3rem;
					color: #323232bf;
				}
			}
			#auto-login {
				position: relative;
				font-weight: bold;
				width: 100%;
				font-size: 12px;
				text-align: left;
				color: #ff0000;
			}
			form {
				position: relative;
				display: flex;
				flex-flow: column;
				gap: 16px;
				
				input { height: 38px; }
				button {
					position: relative;
					display: block;
					width: 100%;
					color: #2189ff;
					padding: 8px 24px;
					letter-spacing: 1.2px;
					font-size: 20px;
					background-color: #ffffff;
					border: 1px solid #2189ff;
					box-sizing: border-box;
					transition: .25s ease;

					&:hover { color: #ffffff; background-color: #2189ff; }
				}
			}
		}
	}
}

.capslock {
	position: relative;
	display: none;
	width: 100%;
	font-size: 12px;
	text-align: left;
	color: #ff0000;
}




.form-floating {
	&:not(.form-control:disabled)::before {
		content: none;
	}

	> .form-control:focus,
	> .form-control:not(:placeholder-shown),
	> .form-control-plaintext,
	> .form-select {
		~ label {
			&::after {
				background: none;
			}
		}
	}
}
// .form-control {
// 	@include dark-mode {
// 		background-color: $dark-input-bg;
// 		color: $dark-input-color;

// 		&:not([class*='valid']) {
// 			border-color: $dark-input-border-color;
// 		}
// 	}

// 	&:focus {
// 		// @include box-shadow($box-shadow);
// 	}

// 	// Disabled and read-only inputs
// 	//
// 	// HTML5 says that controls under a fieldset > legend:first-child won't be
// 	// disabled if the fieldset is disabled. Due to implementation difficulty, we
// 	// don't honor that edge case; we style them as disabled anyway.
// 	&:disabled,
// 	&[readonly] {
// 		@include dark-mode {
// 			background-color: $dark-input-disabled-bg;
// 		}
// 	}
// }

// .form-control[type='file']::-webkit-file-upload-button {
// 	@include dark-mode {
// 		background-color: $dark-input-file-upload-button-bg;
// 	}

// 	background-color: $input-file-upload-button-bg;
// }

// .form-control-plaintext {
// 	@include dark-mode {
// 		color: $dark-input-plaintext-color;
// 	}

// 	&:focus {
// 		outline: none;
// 	}
// }



.input-floating {
	position: relative;

	&:not(.form-control:disabled)::before {
		content: none;
	}
	> input:focus,
	> input:not(:placeholder-shown),
	> .form-control-plaintext,
	> .form-select {
		~ label {
			&::after {
				background: none;
			}
		}
	}
}





.input-floating {
	position: relative;

	input {
		padding: 1rem;

		height: calc(3.5rem + 1px * 2);
		line-height: 1.25;
		min-height: calc(3.5rem + 1px * 2);

		&:focus {
			padding-bottom: .625rem;
			padding-top: 1.625rem;
			background-color: #f8f9fa;
			border-color: #b6aee9;
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 0 .25rem #6c5dd340;
			color: #323232;
			outline: 0;

			&~label {
				
				color: rgba(50,50,50, .65);
				transform: scale(.85) translateY(-.5rem) translateX(.15rem);
				
				&::after {
					background-color: #f8f9fa;
					border-radius: 1rem;
					content: "";
					height: 1.5em;
					inset: 1rem .5rem;
					position: absolute;
					z-index: -1;
					background:none;
				}
			}
		}
	}
	label {
		border: 1px solid #0000;
			height: 100%;
			left: 0;
			overflow: hidden;
			padding: 1rem;
			pointer-events: none;
			position: absolute;
			text-align: start;
			text-overflow: ellipsis;
			top: 0;
			transform-origin: 0 0;
			transition: opacity .1s ease-in-out, transform .1s ease-in-out;
			white-space: nowrap;
			z-index: 2;
	}
}